#wrap {width: 900px; margin: 0 auto;}

h1,h2{
	color:rgb(0,133,63);
}

ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

.container{
	width:960px;
	margin:0px auto;
	color:#FFFFFF;
	font-family:Arial,sans-serif;
	font-size:20px;
	font-weight:bold;
}

a.navlink:link{
	color:#000000;
	text-decoration:none;
}
a.navlink:visited{color:#000000;
text-decoration:none;}
a.navlink:hover{color:#000000;
text-decoration:none;}
a.navlink:active{color:#000000;
text-decoration:none;}


#navbar{
    float:left;
    width:900px;
    height:36px;
    font-size:14px;
    margin:20px 0 0 0;
    background:url(images/navbar_bg.png);
}
#navbar ul{
    float:left;
    width:900px;
    height:36px;
    margin-left:0px;
    color:#000000;
}
#navbar ul{
    background: url(images/anim_3.png) no-repeat;
    background-position:1px 4px;
}
#navbar ul li{
    float:left;
    width:178.6px;
    margin:3px 0 0 0;
    height:22px;
    display: inline;
    text-align:center;
    padding:7px 0 0 0;
    border-left:1px solid #1f1f1f;
    cursor:pointer;
}
#navbar1 ul li a{
text-decoration:none;
color:#000000;
}

.content{
float:left;
}