#wrap {
	width: 1200px; 
	margin: auto;
	border: 2px solid black;
	border-radius: 0px 80px;
	background: #DADADA; /* gray shade */
}

html,body{
	height: 100%;
}

h1,h2{
	color:rgb(0,133,63); /* S&T green */
}

table.green{
	border:2 solid rgb(0,133,63); 
	text-align:center;
}

ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

.container{
	color:#FFFFFF;
	font-family:Arial,sans-serif;
	font-size:20px;
	font-weight:bold;
}

a.navlink:link{
	color:black;
	text-decoration:none;
}
a.navlink:visited{
	color:black;
	text-decoration:none;
}
a.navlink:hover{
	color:white;
	text-decoration:none;
}
a.navlink:active{
	color:black;
	text-decoration:none;
}

#navbar{
    float:left;
    width:1200px;
    height:36px;
    font-size:14px;
    margin:20px 0 0 0;
    background:url(images/navbar_bg.png);
}
#navbar ul{
	float:left;
    height:36px;
    margin-left:auto;
    color:black;
    background: url(images/anim_2.png) no-repeat;
    background-position:1px 4px;
}
#navbar ul li{
    float:left;
    width:178px;
    margin:3px 0 0 0;
    height:22px;
    display: inline;
    text-align:center;
    padding:7px 0 0 0;
    border-left:1px solid #1f1f1f;
    cursor:pointer;
}
#navbar1 ul li a{
text-decoration:none;
color:black;
}

.content{
float:left;
}